# Dependencies
node_modules/
.pnpm-store/

# Next.js
apps/web/.next/
apps/web/out/

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Debug / OS
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Turbo
.turbo/

# Prisma
packages/database/*.db
packages/database/.env

# Testing
coverage/
